.PasswordSettingsTab{
    margin-top: 10px;
    /* display: flex;
    flex: 1;
    flex-direction: row; */

}
.PasswordSettingsTab__heading{
    font-size: medium;
    font-weight: bold;
}
.password-policy-form-container{
    padding: 10px;
    /* flex: 0.5; */
}

.right-div{
   /* flex: 0.5; */
    /* justify-content: flex-end; */
}
.textAlign{
    text-align: right !important ;
}
@media only screen and (max-width: 600px) {
    .textAlign{
      text-align: left !important;
  }
}
span{
    margin: 0px;
}

