.reset-password-container {
  border-top: solid 1px #4080bf;
  height: fit-content;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

}
.form-container{
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: auto;
  float: left;
}
.btn-secondary-setpassword{
  width: 99% !important;
  background-color: grey;
  color: white;



}
.rowmargin{
  margin-right: auto !important;
  margin-left: auto !important;
  margin: auto !important;


}

.pass-wrapper {
  position: relative;
  display: flex;
  margin: auto !important;



}
@media only screen and (max-width: 600px) {
  .textAlign{
    text-align: left;
}
}